<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

<head>
    {{ partial "head.html" . }}
</head>

<body style='font-size:1.25rem;'>
    {{ with .Site.Params.videoBackground }}
        <video class="video" autoplay muted preload loop playsinline>
            {{ range .sources }}
                <source
                    src="{{ .source }}"
                    type="{{ .type }}"
                    poster="{{ .poster }}" />
            {{ end }}
        </video>
        {{ with .overlay }}
            <div id="overlay" style="background: {{ . | safeCSS }};"></div>
        {{ end }}
    {{ end }}

    </main>

    <nav role="navigation" class="flex-container" id="splash">

      
        <p>
            The <b style='font-weight:800;'>#30DayChartChallenge</b> is a community-driven event with the goal to create a data visualization on a certain topic each day of April.
        </p>
        <br>
        <br>
        <br>
        {{ if .Site.Params.mainMenu }}
        {{ range .Site.Params.mainMenu }}
            <a href="{{.link}}" class="big-link">
                {{.text}}
            </a>
        {{ end }}

        {{ else }}
        {{ end }}

    </nav>

    </main>

    <footer class="flex-container footer"><a href='https://twitter.com/30DayChartChall' target="_blank">#30DayChartChallenge</a></footer>
</body>

</html>
